a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
a:active, a:hover{
	color: 	#198754;
	text-decoration: none;
}
.top {
	height: 8vh;
}
.main {
	height: 82vh;
}
.footer {	
	padding: 0.5em;
	text-align: center;
	height: 10vh;
	color:white;
}
.footer > 
.tab {
	color: black
}